@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500&display=swap');

@import './abstract/variables';

@import './base/base';
@import './base/style-reset';
@import './base/utilities';

@import './layout/body-wrapper';
@import './layout/header';
@import './layout/content';
@import './layout/footer';

@import './components/mobile-navmenu';
@import './components/dropdown';