.body-wrapper {
  position: relative;
  width: 100%;
  min-height: inherit;
  transition: all .2s $easeOutCirc;

  &[active-menu] {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-$mobilemenuWidth);
    filter: brightness(80%);

    .overlay {
      visibility: visible;
      opacity: 1;
    }
  }

  .overlay {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .2);
    transition: all .2s $easeOutCirc;
  }
}