.header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;

  &[active-menu] {

    .header__menu-btn {
      opacity: 0;
    }
  }

  &__navbar {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    width: inherit;
    height: 80px;
    padding: 0 1.5rem;
    background-color: $white;
    transition: all .3s $easeOutCirc;
    
    &::before {
      content: '';
      visibility: hidden;
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 1rem;
      box-shadow: $basicDropshadow;
      transition: opacity $easeOutCirc;
      z-index: -1;
    }

    &[data-scrolled] {
      height: 50px;
      box-shadow: $basicDropshadow;

      &::before {
        visibility: visible;
        opacity: 1;
      }

      .header__logo {
    
        .rpx-logo {
          margin-top: .3rem;
          transform: scale(0.95);
        }
    
        .client-logo {
          transform: scale(0.95);
        }
      }    

      .header__main-link {

        .link {
          padding: .6rem 1rem;
          border-radius: .3rem;
        }
      }
    }
  
    @media screen and (max-width: 620px) {
      padding: 0 1rem;
    }
  }

  &__logo {
    display: grid;
    grid-template-columns: min-content max-content;
    align-items: center;
    gap: .5rem;
    padding-right: 2.2rem;

    .rpx-logo {
      margin-top: .4rem;
      height: 1.1rem;
      transition: transform .2s $easeOutCirc;
    }

    .client-logo {
      height: 35px;
      transition: transform .2s $easeOutCirc;

      img {
        width: auto;
        height: 100%;
      }
    }
  }

  &__menu-btn {
    display: none;
    justify-self: end;
    grid-column: -1;
    transition: opacity .2s $easeOutCirc; 

    @media screen and (max-width: 1100px) {
      display: block;
    }

    .icon {
      color: $bluePrimary;
    }
  }

  &__main-links-list {
    display: flex;
    align-items: center;
    gap: .5rem;

    @media screen and (max-width: 1100px) {
      display: none;
    }
  }

  &__main-link {
    font-size: $fontSizeSmall;

    .link {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: .5rem;
      width: fit-content;
      padding: .8rem 1.2rem;
      border-radius: .5rem;
      transition: all .3s $easeOutCirc;
      
      &.active {
        color: $bluePrimary;
        font-weight: 500;
        background-color: rgba($blueLighter, .2);
      }

      &:hover {
        background-color: rgba($blueLighter, .2);
      }

      .icon {
        font-size: $fontSizeSmaller;
      }
    }
  }

  &__user-cta {
    display: flex;
    align-items: center;
    justify-self: end;
    gap: 1.5rem;

    @media screen and (max-width: 1100px) {
      display: none;
    }
  }

  &__notification-button {
    width: 40px;
    height: 40px;

    .icon {
      color: $blueDarker;
      font-size: $fontSizeMedium;
    }
  }

  &__user-pic {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    overflow: hidden;
    transition: transform .3s $easeOutCirc;

    .image {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

}