.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 500;

  &__navbar {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    width: inherit;
    height: 80px;
    padding: 0 1.5rem;
    background-color: $white;
    transition: all .3s $easeOutCirc;
    
    &::before {
      content: '';
      visibility: hidden;
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 1rem;
      box-shadow: $basicDropshadow;
      transition: opacity $easeOutCirc;
      z-index: -1;
    }

    &[data-scrolled] {
      height: 60px;
      box-shadow: $basicDropshadow;

      &::before {
        visibility: visible;
        opacity: 1;
      }

      .header__main-link {

        .link {
          padding: .6rem 1rem;
          border-radius: .3rem;
        }
      }
    }
  
    @media screen and (max-width: 620px) {
      padding: 0 1rem;
    }
  }

  &__changeable-logo {
    color: $bluePrimary;
    font-size: 1.15rem;
    font-weight: 500;
  }

  &__main-links-list {
    display: flex;
    align-items: center;
    gap: .5rem;
  }

  &__main-link {

    .link {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: .5rem;
      width: fit-content;
      padding: .8rem 1.2rem;
      border-radius: .5rem;
      transition: all .3s $easeOutCirc;
      
      &.active {
        color: $bluePrimary;
        font-weight: 500;
        background-color: rgba($blueLighter, .1);
      }

      &:hover {
        background-color: rgba($blueLighter, .1);
      }

      .icon {
        font-size: $fontSizeSmaller;
      }
    }
  }

  &__user-cta {
    display: flex;
    align-items: center;
    justify-self: end;
    gap: 1.5rem;
  }

  &__notification-wrapper {

  }

  &__notification-button {
    width: 45px;
    height: 45px;
    border-radius: 100%;
    transition: background-color .3s $easeOutCirc;
    
    &:hover {
      background-color: rgba($blueLighter, .1);
    }

    .icon {
      color: $blueDarker;
      font-size: $fontSizeMedium;
    }
  }

  &__user-profile-wrapper {
    
  }

  &__user-profile-button {

  }

  &__user-pic {
    width: 45px;
    height: 45px;
    border-radius: 100%;
    overflow: hidden;

    .image {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

}