// Font styling
$primaryFontFamily: 'Montserrat', sans-serif;
$fontSizeBig: 1.25rem;
$fontSizeBigger: 1.5rem;
$fontSizeBiggest: 1.75rem;
$fontSizeMedium: 1rem;
$fontSizeNormal: .9rem;
$fontSizeSmall: .85rem;
$fontSizeSmaller: .75rem;
$fontSizeSmallest: .7rem;

// Colors
$white: #fff;
$blueLightest: #e0e2e7;
$blueLighter: #09496a;
$bluePrimary: #03283a;
$blueDarker: #041f2d;
$blueGradient: linear-gradient(to right top, #03283a, #032637, #042333, #042130, #041f2d);

// Transitions & Animations
$easeOutCirc: cubic-bezier(0, 0.55, 0.45, 1);

// Dropshadows
$basicDropshadow: 0 .2rem 1rem $blueLightest;