// Colors
$fontColorPrimary: #fff;

$bluePrimary: #03283a;
$blueDarker: #041f2d;
$blueLighter: #09496a;
$blueGradient: linear-gradient(to right top, #03283a, #032637, #042333, #042130, #041f2d);

// Transitions & Animations
$easeOutCirc: cubic-bezier(0, 0.55, 0.45, 1);