html, body {
  min-height: 100vh;
}

body {
  font-size: $fontSizeNormal;
  font-family: $primaryFontFamily;
  box-sizing: border-box;

  ::selection {
    background-color: rgba($white, .4);
  }
}

* {
  font-size: inherit;
  font-family: inherit;
  box-sizing: inherit;
}

img {
  width: 100%;
  height: 100%;
}

.main-content {
  min-height: calc(100vh - (383.44px - 80px));
  padding-bottom: 10rem;
}