html, body {
  min-height: 100vh;
}

body {
  font-size: .9rem;
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}

* {
  font-size: inherit;
  font-family: inherit;
  box-sizing: inherit;
}

img {
  width: 100%;
  height: 100%;
}

.main-content {
  min-height: calc(100vh - 383.44px);
  padding-bottom: 10rem;
}