.dropdown {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  left: 0;
  top: 3rem;
  transform: translateY(-1rem) scale(.9);
  background-color: $white;
  box-shadow: $dropshadowDarker;
  border-radius: .5rem;
  transition: all .1s $easeOutCirc;
  overflow: hidden;

  &[active-dropdown] {
    visibility: visible;
    opacity: 1;
    transform: none;
  }

  .link-list {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    width: 210px;
    padding: .6rem .5rem;
    

    &__link {
      display: block;
      width: 100%;
      padding: .8rem 1.2rem;
      border-radius: .5rem;
      transition: all .3s $easeOutCirc;

      &:hover {
        background-color: rgba($blueLighter, .2);
      }
    }
  }
}

